<htm><body>

 <h2>New post</h2>
 <a href="">User profile add or edit</a><br>
 <a href="http://www.yahoo.com">User Blog</a><br>
 <a href="http://www.yahoo.com">User Script</a><br>
 <a href="http://www.yahoo.com">User Poem</a><br>
    {% if form %}
    <form method="post" class="post-form">
    	{% csrf_token %}	
        {{ form|safe }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% endif %}
        
    {% if user %}
    <ul>
    	<li>{{ user }}</li>
    </ul>            
    {% endif %}       
</body></html>

