{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header class='header'>
            <a href='http://www.writercreativity.com'>
                <img alt="WC_logo" className="image__header"
                src="https://www.codecademy.com/webpack/44e01805165bfde4e6e4322c540abf81.svg"/>
            </a>
        </header>
        <section class='section'>
            <div class="content">
                <h1>Thanks for choosing WC</h1>
                <br>
                <p>Everyone has a story only need to get-up your hidden writer</p> 
                <p>Write your Lines</p>                
                <p>WC is here to show your lines in a graceful way</p>         
                <p style='margin-top: 50px;'>To upload your profile photo and cover photo as well as Story/Poem/Blog ..!! Please Use Admin Login link And to reach your profile Please use Your Profile</p>
                <br>
                <p style='margin-top: 10px;margin-bottom: 10px;'><a target='_blank' href='{{admin_login}}'>Admin Login</a></p>
                <p><a target='_blank' href='{{user_profile}}'>Your Profile</a></p>
            </div>
            
        </section>
        <footer class="footer">
            <section>
                <a href='http://www.writercreativity.com'>
                    <img alt="Codecademy logo" className="image__header"
                    src="https://www.codecademy.com/webpack/44e01805165bfde4e6e4322c540abf81.svg"/>
                </a>
            </section>
            <section class='middle-content'>
                <p>© writercreativity 2019</p>
                <a href="http://www.writercreativity.com/ajay">@ajay</a>
                <a href="http://www.writercreativity.com:8000/user-admin/login/?next=/user-admin/">Admin</a>
                <a href="http://www.writercreativity.com/about-us">About</a>
            </section>
            <section class='social-content'>
                <a href='https://www.facebook.com/Writer-Creativity-308406650083856' rel='noopener noreferrer' target='_blank'><svg width="18" height="18"
                        viewBox="0 0 18 18" xmlns="https://www.w3.org/2000/svg">
                        <title>Facebook</title>
                        <path
                            d="M18 1v16c0 .5-.4 1-1 1h-4.6v-7h2.3l.3-2.7h-2.7V6.6c0-.8.2-1.3 1.4-1.3h1.4V2.8c-.2 0-1.1-.1-2.1-.1-2 0-3.4 1.3-3.4 3.6v2H7.3V11h2.3v7H1c-.5 0-1-.4-1-1V1c0-.5.4-1 1-1h16c.6 0 1 .4 1 1z"
                            fill="rgba(255, 255, 255, 0.6)" fillRule="evenodd"></path>
                    </svg>
                </a>
                <a href='https://twitter.com/WriterCreativi1' rel='noopener noreferrer' target='_blank'><svg xmlns="https://www.w3.org/2000/svg"
                        viewBox="0 0 300 244" width="18" height="18">
                        <title>Twitter</title>
                        <path
                            d="M94.72 243.18c112.46 0 173.96-93.168 173.96-173.96 0-2.646-.054-5.28-.173-7.903a124.338 124.338 0 0 0 30.498-31.66c-10.955 4.87-22.744 8.147-35.11 9.625 12.622-7.569 22.313-19.543 26.885-33.817a122.62 122.62 0 0 1-38.824 14.841C240.8 8.422 224.916.99 207.327.99c-33.764 0-61.144 27.381-61.144 61.132 0 4.798.537 9.465 1.586 13.941-50.815-2.556-95.874-26.886-126.03-63.88a60.977 60.977 0 0 0-8.279 30.73c0 21.212 10.794 39.938 27.208 50.893a60.685 60.685 0 0 1-27.69-7.646c-.009.256-.009.506-.009.78 0 29.61 21.075 54.332 49.051 59.934a61.218 61.218 0 0 1-16.122 2.152c-3.933 0-7.766-.387-11.49-1.103 7.783 24.293 30.354 41.971 57.114 42.465-20.926 16.402-47.287 26.171-75.937 26.171-4.929 0-9.798-.28-14.584-.846 27.06 17.344 59.19 27.464 93.722 27.464"
                            fill="rgba(255, 255, 255, 0.6)"></path>
                    </svg>
                </a>
                <a href="#"><svg
                        xmlns="https://www.w3.org/2000/svg" viewBox="0 0 448 512" width="18" height="18">
                        <title>LinkedIn</title>
                        <path fill="rgba(255, 255, 255, 0.6)"
                            d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1 24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z">
                        </path>
                    </svg>
                </a>
            </section>
        </footer>
    </body>
</html>
