<table width="600px" border="0" align="center" cellpadding="0" cellspacing="0">
<tbody>

<tr>
<td style="background:#15b192;font-size:2px;" bgcolor="#15b192">&nbsp;</td>
</tr>
<tr>
<td style="background: #1d2c58;padding: 20px 40px;">
<img src="http://writercreativity.com/static/media/Logo_White_Text.090aa952.png" style="width: 90px" alt="Redi match" />
</td>
</tr>
<tr>
<td style="background:#15b192;font-size:2px;" bgcolor="#15b192">&nbsp;</td>
</tr>
<tr>
<td style="padding:40px;background:#e8edee;" bgcolor="#f7f7f7">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:22px;color:#13191f;">Hello <span style="color:#15b192;">{{var_name}}</span>,</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;">{{body_content}} </td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>

{% if terms_conditions %}
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;word-break: break-all;">
<a href="{{terms_conditions}}">{{terms_conditions}}</a>
</td>
</tr>
<td>&nbsp;</td>
{% endif %}

{% if activation_link %}
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;word-break: break-all;">
<a href="{{activation_link}}">{{activation_link}}</a>
</td>
</tr>


<td>&nbsp;</td>
</tr>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;"> To upload your profile photo and cover photo as well as Story/Poem/Blog ..!! <br>Please Use Admin Login link With Below Credentials.<br><br>{{username}}<br>{{password}}</br></td>

</tr>
<tr>

<td>&nbsp;</td>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;"> Admin Login: <a href="{{admin_login}}"/>{{admin_login}}</a></td>
</tr>

<td>&nbsp;</td>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;"> Your Profile Link: <a href="{{user_profile}}">{{user_profile}}</a></td>
</tr>

<td>&nbsp;</td>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;"> You can change your password later ..!!</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>
{% endif %}
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;">If you have any questions or come across any issues, please contact us at <a href="mailto:writercreativity612@gmail.com" style="font-size:14px;color:#15b192;font-weight:bold"> writercreativity612@gmail.com</a>.
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><hr width="100%" style="height:1px;"></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-size:14px;color:#13191f;">Regards,</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-family:'Segoe UI', Helvetica, Arial, 'Sans-Serif';font-weight:bold;font-size:16px;color:#13191f;">The WC Team</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background:#15b192;font-size:6px;" bgcolor="#15b192">&nbsp;</td>
</tr>
</tbody>
</table>
